<%- include("header") -%>

<h2>this is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque minima placeat
  reiciendis quasi tempore sapiente molestias earum quis incidunt vero corrupti
  beatae alias ipsum aut quae, aliquid, qui eum reprehenderit?
</p>
<%- include("footer") -%>